@import "tailwindcss";

:root {
  --root-base-line-height: 1.75;
}

@theme inline {
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;

  --color-brand-background: var(--color-blue-50);
  --color-brand-base: var(--color-blue-600);
  --color-brand-active: var(--color-blue-700);
  --color-brand-hover: var(--color-blue-800);
  --color-brand-dark: var(--color-blue-900);
  --color-danger-background: var(--color-red-50);
  --color-danger-base: var(--color-red-600);
  --color-danger-active: var(--color-red-700);
  --color-danger-hover: var(--color-red-800);
  --color-danger-dark: var(--color-red-900);
  --color-accent: var(--color-yellow-300);
  --color-foreground-primary: var(--color-gray-900);
  --color-foreground-secondary: var(--color-gray-500);
  --color-foreground-placeholder: var(--color-gray-400);

  --font-sans:
    "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans",
    Meiryo, sans-serif;

  --text-xs: 0.75rem;
  --text-xs--line-height: var(--root-base-line-height);
  --text-sm: 0.875rem;
  --text-sm--line-height: var(--root-base-line-height);
  --text-base: 1rem;
  --text-base--line-height: var(--root-base-line-height);
  --text-lg: 1.125rem;
  --text-lg--line-height: var(--root-base-line-height);
  --text-xl: 1.25rem;
  --text-xl--line-height: var(--root-base-line-height);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: var(--root-base-line-height);
  --text-3xl: 1.875rem;
  --text-3xl--line-height: var(--root-base-line-height);
  --text-4xl: 2.25rem;
  --text-4xl--line-height: var(--root-base-line-height);

  --shadow-card: 0px 2px 25px -15px rgba(0, 0, 0, 0.2);
  --shadow-wide: 0 30px 60px rgba(0, 0, 0, 0.12);

  --z-index-hide: -9999;
  --z-index-header: 9999;

  --height-header: 4rem;

  --screen-margin: calc(var(--spacing) * 5);
}

/* https://tailwindcss.com/docs/upgrade-guide#buttons-use-the-default-cursor */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

/* 暫定対応 詳細: https://tailwindcss.com/docs/upgrade-guide#hover-styles-on-mobile */
/* TODO: v4のhoverに治す */
@custom-variant hover (&:hover);

body {
  background-color: var(--color-white);
  color: var(--color-foreground-primary);
  line-height: var(--root-base-line-height);
}

@layer base {
  button:focus-visible,
  [role="button"]:focus-visible,
  a:focus-visible,
  input:focus-visible,
  textarea:focus-visible,
  select:focus-visible {
    outline-color: var(--color-brand-base);
    outline-offset: 1.5px;
    outline-style: solid;
    outline-width: 2px;
  }
}

html {
  --spacing-for-scroll-padding-top: 1rem;
  scroll-padding-top: calc(
    var(--height-header) + var(--spacing-for-scroll-padding-top)
  );
}
