@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --root-base-line-height: 1.75;
}

body {
  background-color: white;
  font-family: theme(fontFamily.base);
  color: theme(colors.base.foreground);
  line-height: var(--root-base-line-height);
}
